/* NUEVO PARA ESTE PROYECTO */
.order-card {
    color: #fff;
}
.bg-c-blue {
    background: linear-gradient(45deg,#73b4ff, #4099ff);
}
.bg-c-green {
    background: linear-gradient(45deg,#59e0c5, #2ed8b6);
}
.bg-c-pink {
    background: linear-gradient(45deg,#ff869a, #FF5370);
}
.card {
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card .card-block {
    padding: 25px;
}
.order-card i {
    font-size: 26px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}

.custom-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-left: 5px solid;
}

.custom-card-block {
    padding: 20px;
    position: relative;
}

.custom-card-title {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 0;
}

.custom-card-count {
    font-size: 32px;
    color: #333;
    margin: 10px 0;
}

.custom-card-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 48px;
    color: rgba(0, 0, 0, 0.1);
}

.custom-card-link a {
    text-decoration: none;
}

.custom-card-link a:hover {
    text-decoration: underline;
}

.custom-card{
    border-left-color: #17943f;
}
